<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.bean"></package>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.config.SqlTimeInterceptor">
        </plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://develop.mofangvr.com:2809/test" />
                <property name="username" value="root" />
                <property name="password" value="123Qwe!" />
                <!--连接池的性能参数描述-->
                <property name="poolMaximumIdleConnections" value="0"/>
                <property name="poolMaximumActiveConnections" value="1000"/>
                <property name="poolPingQuery" value="SELECT 1 FROM DUAL" />
                <property name="poolPingEnabled" value="true" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/mapper/User.xml" />
        <mapper resource="com/mapper/accessSecretInfo.xml" />
        <mapper resource="com/mapper/accessToken.xml" />
        <mapper resource="com/mapper/VerificationCode.xml" />
        <mapper resource="com/mapper/userInfo.xml" />
        <mapper resource="com/mapper/appUserLink.xml"/>
    </mappers>
</configuration>
